 <div class="blog">
    <div class="blog-img-box" style="">
        <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
        </div>
        <h2 class="cat-name"><h2 class="cat-name">{{ post.data.category}}
        <span class="date"> - {{post.date | postDate}}</span></h2>
        <h1 class="blog-title"><a href="{{ post.url }}">{{post.data.title}}</a></h1>
        <p class="description">{{ post.data.description }}</p>
        <button style=""><a href="{{ post.url }}">Continue reading<i class="fa-solid fa-arrow-right-long"></i></a></button>    
      
        </div>