   <div class="blog" style="display:flex; width:100%; gap:3rem; padding-top:1rem;">
    <div class="blog-box" style="width:30%;height:200px;">
        <img src="{{post.data.image}}" alt="This is a test">
        </div>
        <div class ="blog-box-text" style="width:67%">
        <h2 class="cat-name" style="font-size: 14px;line-height:10px;color:rgb(0, 59, 92);padding:0 0 .5rem;">{{ post.data.category}}
        <span class="date"> - {{post.date | postDate}}</span></h2>
        <h1 class="blog-title" style="padding-bottom:.4rem;"><a style="font-size: 28px; color: 
          rgb(0, 134, 191);line-height:35px; font-weight:200" href="{{post.url}}">{{post.data.title}}</a></h1>
        <p class="description" style="font-size: 20px;line-height:30px;">{{ post.data.description }}</p>
        <button style=""><a  style= "font-weight: 400px; " href="{{post.url}}">Continue reading<i class="fa-solid fa-arrow-right-long"></i></a></button>         
        </div> 
      </div>