<!DOCTYPE html>
<html lang="en" id="fullBody">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0"> 
     <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

       <link rel="stylesheet" type="text/css" href="/assets/slick/slick.css" />
  <!--<link rel="stylesheetgit" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css" />-->
  <link rel="stylesheet" href="/assets/slick/slick-theme2.css">

      <link rel="icon" type="image/x-icon" href="/assets/images/cloudHacks-01.jpg">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/root.css">
    <title>{{title}}</title>
</head>
<body>
{% include 'header.njk' %}
<main>
    {{content | safe}}

    {% include 'footer.njk' %}
  </main>
  
</body>
</html>
