<!DOCTYPE HTML>
<html>

<head>
	<title>Serverless FaaS Pricing Calculator</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="A calculator for serverless FaaS cost estimations for invocation and computional time prices on AWS Lambda, Azure Functions, Google Cloud Functions and IBM Cloud Functions" />
	<meta name="robots" content="index, follow">
	<link rel="stylesheet" href="assets2/css/main.css" />
	<link rel="apple-touch-icon" type="image/png" href="images/apple-touch-icon.png" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</noscript>
	
</head>
