<footer style="background-color:white;width:100%;padding:3rem 0 ">
<div style="text-align:center">
<h2>Stay Connected With CloudHacks</h2>
<div style= "padding:1rem 0;" class="social">   
 <a><i class="fa-brands fa-facebook-f">
</i></a>
    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
    <p>Copyright ©<span id="getYear"></span> All rights reserved to CloudHacks</p>
    <div class="footer-page">
    <a href="">Terms & Conditions</a> /
      <a href="">Privacy Policy</a
      </div>
</div>
</footer>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/calculator.js"></script>
<script>
const getYear = document.getElementById("getYear");
  const d = new Date();
    let year = d.getFullYear();
    const gh = getYear.innerHTML = year;
</script>