 <header>
<nav>
   <div class="logo">
<a href= "/"><img src="/assets/images/CloudHacks-01.png"></a>
   </div>
<!--
   <div class =social-icon>
    <a><i class="fa-brands fa-facebook-f"></i></a>
    <a><i class="fa-brands fa-x-twitter"></i></a>
    <a><i class="fa-brands fa-linkedin-in"></i></a>
   </div>
   -->
   <div class="menu">
<ul> 
    <li class=""><a href="/" class="">Home</a></li>
    
    <li><a href= "/allBlog/" class="">Blog</a></li>
    <li><a href="/about/" class="">About</a></li>
    
     
</ul>

   </div>
   
</nav>
<div class="bar" style="display:none;position:absolute;top:0;right:0"><i class="fa-solid fa-bars"></i></div> 
    </header>