---
title: cloudHacks
layout: 'allBlogBase.njk'

---

<!--start post by category-->
<div class = "cat-drop" style="width:940px;max-width:100%;min-height:200px;margin: auto;transition: min-height 0.3s ease;">
    <div class="float">
    <div style="background-color:rgb(0, 134, 191);position:relative;cursor:pointer ;padding:.5rem 1.5rem;display:inline-block; font-size:18px;color:white;border-radius:7px" id="btn">Categories<i class="fa-solid fa-arrow-down" style="padding-left:1rem"></i></div>
    <ul style="background-color: white; padding: 1rem;position:absolute" id="drop">
  {% for category in cat.cat %}











  

</ul>
  </div>
  </div>

    <div class="blogs-container"  style="max-width:1140px;width:100%;margin:0 auto;"> 
<!--start post by category-->
<section style="background-color: white;margin-bottom:1rem;width:100%">  
    <div class="blogs-container"  style="max-width:1140px;width:100%;margin:0 auto;">
      {%- for category in cat.cat -%}
      {% set originalText = category %}
   {% set removedSpacesText = originalText.split(" ").join("") %}
{%- endfor %}










        <div style="position:relative;padding-left:1rem;" id= {{removedSpacesText}}><span ></span><h2 style="line-height: 25px;   margin-left:.8rem;" >{{category}}</h2></div>
    
      <div class="blogs-box" style="display:flex;gap:1rem;flex-wrap: wrap;" > 
      
    {%- for post in collections.all -%}

    {%- if post.data.category === category -%}
      {% include 'article-snippet.njk' %}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}


 </div> 

    </div>
</section>
<!--end post by category-->

<script>
const bar = document.querySelector(".bar");
const menu = document.querySelector(".menu");


bar.addEventListener("click", function(){
menu.classList.toggle ("menu-active");
})
</script>

<script>
const btn = document.getElementById("btn");
const drop = document.getElementById("drop");
const catDrop = document.querySelector(".cat-drop");

btn.addEventListener("click", function() {
  drop.classList.toggle("active");
 catDrop .style.minHeight= drop.classList.contains("active") ? "350px" : "200px";;
});

</script>

