---
title: CloudBlog
layout: 'base.njk'
---

    
<!--hero-banner -->
<section class="hero-banner" >
<div class="hero-container">
    <div class="left-hero" style="width:50%">  
  <div class="hero-texts">

</p>

<div class="button">
<button style="margin-bottom: 1rem"><a href="#featured"><i class="fa-solid fa-arrow-up-right-from-square"></i><span style="margin-left:.5rem">Featured Posts</span></a></button>
    <button><a href="/allBlog/"><i class="fa-solid fa-arrow-up-right-from-square"></i><span style="margin-left:.5rem;">All Posts</span></a></button>   
</div>
</div>
    </div>

    <div class="right-hero" style="width:50%">
        <div class="hero-image" style="width:100%">
<img src="assets/images/banner.png">
</div>
    </div>  
</div>
</div>
</section>
<!--hero-banner end -->

<div class="subscribe-btn" style="text-align:center"><button><a href="#mChimp">Subscribe</a></button></div>

<!--Latest post start -->
<section style="background-color: white;margin-bottom:1rem;">  
    <div class="blogs-container">
        <div style="position:relative;padding-left:1rem;display:flex;justify-content:space-between;align-items:center" class="title-verticel">
        <h2 >Latest Posts</h2> 
        <div style="margin-right:3rem">
         <div><a href= "/allBlog/" style="font-size:16px;">See All post</div>
          <div style="right:3rem;position:absolute;bottom:-16px"><i class="fa-solid fa-arrow-right-long" style="color:blue"></i></a></div>
        </div> 
        </div>

      <div class="blogs-box"> 
{%-for post in collections.latest | reverse  -%}
       {% include 'article-snippet.njk' %}
        {%- endfor %} 

    </div> 
    </div>
</section>
<!--Latest post end -->

<!--start Featured posts-->
<section style="background-color: white;" id="featured;margin-bottom:1rem;">  
    <div class="blogs-container"  style="max-width:1140px;width:100%;margin:0 auto;">
        <div style="position:relative;padding-left:1rem" class="title-verticel"><span ></span>
        <h2>Featured Posts</h2></div>
      <div class="blogs-box" > 
{%-for post in collections.featured | reverse  -%}
       {% include 'article-snippet.njk' %}
        {%- endfor %}  
    </div> 
    </div>
</section>
<!--start Featured posts-->

  <!--mailchimp--> 
<section id= "mChimp">
  <div style="margin: 0 auto;max-width:680px;width:100%;background-colo:red;">  
  <h2 style="text-align:center;padding-bottom:2rem;">Subscribe to Our CloudHacks Newsletter</h2>      
  <div style="margin:auto"> 
 <form action="https://cloudhacks.us6.list-manage.com/subscribe/post" method="post">
            <input type="hidden" name="u" value="5d6f1a3f7641ffcd0ca3fb79a">
            <input type="hidden" name="id" value="8b4e2da123">
            <table cellpadding="5" cellspacing="0" border="0" align="center"; style="margin:auto;">
                
                <tr>
                    <td align="right" class="formLabel">Email Address <span class="req asterisk">*</span>:</td>
                    <td align="left">
                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="50" value="">
                        
                    </td>
                </tr>
                
                <tr>
                    <td align="right" class="formLabel">First Name:</td>
                    <td align="left">
                        <input type="text" name="MERGE1" id="MERGE1" size="25" value="" style="margin-bottom:1rem;">
                        
                    </td>
                </tr>
                
                <tr>
                    <td align="right" class="formLabel">Last Name:</td>
                    <td align="left">
                        <input type="text" name="MERGE2" id="MERGE2" width:100% value="">                     
                    </td>
                </tr>
                    <tr>
                        <td align="right">&nbsp;</td>
                        <td align="left">
                            <!--IF you want this to work with our Facebook app, your submit button *must* start with this: <input type="submit"
                            and end with a >. You can have whatever else you'd like in the rest of the tag, and we'll maintain any custom "value" you set.-->
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_5d6f1a3f7641ffcd0ca3fb79a_8b4e2da123" tabindex="-1" value="">
                            </div>
                            <input type="submit" class="button" name="submit" value="Subscribe" />
                        </td>
                    </tr>
            </table>
        </form>
</div>
  </div>
  </section >

  
    <!--mailchimp--> 


    <script src="assets/main.js"></script>

